<p id="notice"><%= notice %></p>

<p>
  <strong>商品名称:</strong>
  <%= @timeproduct.name %>
</p>

<p>
  <strong>最低价格:</strong>
  <%= @timeproduct.lowprice %>
</p>

<p>
  <strong>每次加价:</strong>
  <%= @timeproduct.merprice %>
</p>

<p>
  <strong>竞拍开始时间:</strong>
  <%= @timeproduct.starttime.to_s(:db) %>
</p>

<p>
  <strong>竞拍结束时间:</strong>
  <%= @timeproduct.continuedtime.to_s(:db) %>
</p>

<p>
  <strong>商品状态:</strong>
  <%= @timeproduct.status %>
</p>

<%= link_to '修改', edit_timeproduct_path(@timeproduct) %> |
<%= link_to '返回', timeproducts_path %>
